<% include header %>

<head>
    <h1>About</h1>

    <h3>Just A Little Bit About Tab Book</h3>

</head>

<body>
    <h4>Purpose</h4>
    Tab Book has one very simple purpose: to store tabs and other learning material for upcoming artists.
    <br>
    <h4>So How Does Tab Book Accomplish This</h4>
    Tab Book's simple yet elegant design allows users to view a databse containing all of their favorite tabs orginized by Artist, Song, Album, and the tabs themselves, with a place to store audio as well.
    <br>
    Tab book also allows users to add Artists, Songs (Coming Soon!), Albums (Coming Soon!), Tabs (Coming Soon!), and Audio (also Coming Soon!).
    <br></br>
    <h4>About LalLabs</h4>
    LalLabs is an indavidual student enterprise devoted to providing an excellent user experience while also staying true to the guidlines and specifications of all projects
    <h4>More From LalLabs</h4>
    <a href="/">Tab Book</a>
    <br>
    <a href=http://bit.ly/1wpuOJ7">Team Evil's "Icescape"</a>
    <br>


</body>

<% include footer %>