
<body style ="background-image:url(http://i241.photobucket.com/albums/ff280/fireballjim23/pageleft_blank.jpg)">


<footer>
    <br>
    <a href="/tabbook/Songs">Songs</a>
    <a href="/tabbook/Artists">Artists</a>
    <a href="/tabbook/Albums">Albums</a>
    <a href="/tabbook/Tabs">Tabs</a>
    <a href="/tabbook/Audio">Audio</a>
    <a href="/tabbook/Add">Add</a>
    <a href="/tabbook/About">About</a>
    </br>
</footer>

</body>
</html>