<head>
    <style>
        h1 {text-align: center;}
        body {text-align: center;}
    </style>
    <h1>Tab Book</h1>
    <h1>by LalLabs</h1>
</head>

<body style ="background-image:url(http://snyderstreasures.com/images/germanmilitaria/books/BookPrussia1925C.jpg)">
<br></br><br></br>
<h1><a href="/tabbook/Title">Enter</a></h1>
</body>

<% var hideBackLink = true; %>
