<% include header %>

Submitted Data
<table id="login">
    <tr><td>First Name: </td>
        <td><%= firstname %></td>

    <tr><td>Last Name: </td>
        <td><%= lastname %></td>
    </tr>
    <tr><td>User Name: </td>
        <td><%= username %></td>
    </tr>
    <tr><td>Biography: </td>
        <td><%= bio %></td>
    </tr>
</table>
<% include footer %>