<% include header %>

    <table id="login">
        <tr><td>User Name: </td>
            <td><%= rs[0].User_Name %></td>

        <tr><th>Posts</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
            <tr><td><%= rs[i].Message %></td></tr>

        <% } %>
    </table>
<% include footer %>